---
import 'primeicons/primeicons.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://climateclock.world/widget-v2.js" async></script>
		<title>no life challenge</title>
	</head>
	<body class="bg-gray-950 text-white font-mono font-normal">
		<div class="px-22 md:px-44 pt-24">
			<h1>welcome to my personal website</h1>
			<h1>my name is vradient (formerly known as atstarcore)</h1>
			<h1>i love playing game and sometime i'll coding with html stuff</h1>
			<h1>member of ngua den group chat, also a member of ZSB clan on DemonListVN</h1>
			<h1>currently have no job but at least i have a project that still being developing</h1>
		</div>
		<div class="px-22 md:px-44 pt-8">
			<h1>you can find me as @_vradient in this discord server (also project server)</h1>
		</div>
		<div class="px-22 md:px-44 pt-8">
			<a href="https://discord.gg/UFVv6ZDH4P" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-indigo-700 rounded-2xl bg-indigo-800 flex items-center justify-center">
					<i class="pi pi-discord text-5xl"></i>
				</div>
			</a></div>
		<div class="font-mono font-normal px-22 md:px-44 pt-16">
			<h1>my social media</h1>
		</div>
		<div class="px-22 md:px-44 pt-8">
			<a href="https://www.facebook.com/owhdoheidbekshkwhskbdksbdodboe" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-blue-500 rounded-2xl bg-blue-600 flex items-center justify-center">
					<i class="pi pi-facebook text-5xl"></i>
				</div>
			</a>
			<a href="https://youtube.com/@vradient-yes?si=8ktKXASldAjdKT7x" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-red-500 rounded-2xl bg-red-600 flex items-center justify-center">
					<i class="pi pi-youtube text-5xl"></i>
				</div>
			</a>
			<a href="https://x.com/IbuyCocacola" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-gray-900 rounded-2xl bg-black flex items-center justify-center">
					<i class="pi pi-twitter text-5xl"></i>
				</div>
			</a>
			<a href="https://www.tiktok.com/@vradient?is_from_webapp=1&sender_device=pc" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-gray-900 rounded-2xl bg-black flex items-center justify-center">
					<i class="pi pi-tiktok text-5xl"></i>
				</div>
			</a>
			<a href="https://github.com/TacoEnjoyer" class="cursor-pointer">
				<div class="pi box-border h-19 w-19 p-4 border-2 border-violet-700 rounded-2xl bg-violet-900 flex items-center justify-center">
					<i class="pi pi-github text-5xl"></i>
				</div>
			</a>
		</div>
		<div class="text-white font-mono font-normal px-22 md:px-44 pt-24">
          <h1>below this text is Climate clock, Climate Clock is a graphic to demonstrate how quickly the planet is approaching 1.5 °C of global warming, given current emissions trends. It also shows the amount of CO2 already emitted, and the global warming to date.</h1>
		</div>
		<climate-clock />
	</body>
</html>
